<div class="searchPage">
    <div class="searchPageConatiner">
        <div class="SPHeader">
            <span class="SPClose" onclick="closeSearch()">
                <i class="fa fa-close"></i>
            </span>
            <div class="SPInput">
                <input id="keyword" type="text" maxlength="25" autocomplete="off" placeholder="中秋好礼 火热发售">
            </div>
            <span class="SPSearch" onclick="searchProducts('')">
                <i class="fa fa-search"></i>
            </span>
        </div>

        <div class="SPQucikStart">
            <div class="SPSearchLand">
                <% if(recentSearch.length > 0){ %>
                <div id="recentTitle" class="SPSearchLandHeader">
                    <p>最近搜索</p>
                    <i class="fa fa-trash-o" onclick="deleteRecent()"></i>
                </div>
                <div id="recentBody" class="SPSearchLandContainer">
                    <% recentSearch.map(function (item) { %>
                    <span>
                        <a href="javascript:void(0);" onclick="searchProducts('<%= item.keyword %>')">
                            <%= item.keyword %>
                        </a>
                    </span>
                    <% }) %>
                </div>
                <% } %>

                <% if(hotSearch.length > 0){ %>
                <div class="SPSearchLandHeader">
                    <p>热门搜索</p>
                </div>
                <div class="SPSearchLandContainer">
                    <% hotSearch.map(function (item) { %>
                    <span>
                        <a href="javascript:void(0);" onclick="searchProducts('<%= item.name %>')">
                            <%= item.name %>
                        </a>
                    </span>
                    <% }) %>
                </div>
                <% } %>
            </div>
        </div>

        <div class="SPImmediateSearch">
            <ul id="resultList"></ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    var timer = null;
    $(document).ready(function () {
        $('#keyword').on('keydown',function () {
            if (event.keyCode == "13") { //回车监控
                searchProducts('');
            }else{
                if(timer){ //自动查询
                    clearTimeout(timer)
                }
                timer = setTimeout(function(){
                    var keyword = $('#keyword').val().trim();
                    if(keyword == ''){
                        $('.SPImmediateSearch').fadeOut(10);
                        $('.SPQucikStart').fadeIn(100);
                    }else{
                        ApiInvokeNoloading('shop', 'immediateSearch', {keyword:keyword}, function (err, res) {
                            if(err){
                                console.log(err);
                            }else{
                                $('#resultList').empty();
                                if(res.length > 0){
                                    res.map(function (item) {
                                        $('#resultList').append('<li onclick=' + 'searchProducts("' + item.name + '")' + '><span>' + item.name + '</span></li>');
                                    });
                                }

                                $('.SPQucikStart').fadeOut(10);
                                $('.SPImmediateSearch').fadeIn(100);
                            }
                        });
                    }
                },300);
            }
        });
    })

    function openSearch(key_word) {
        $('#keyword').val(key_word);
        $('.searchPage').fadeIn(100);
        $('#keyword').focus();
    }

    function closeSearch() {
        $('.searchPage').fadeOut(100);
    }
    
    function searchProducts(keyword) {
        if(keyword == ''){
            keyword = $('#keyword').val().trim();
            if(keyword == '') keyword = '中秋';
        }
        window.location.href = '/shop/<%= shopcode %>/productSearch/?key_word=' + keyword;
    }

    function deleteRecent() {
        ApiInvokeNoloading('shop', 'deleteRecent', {}, function (err, res) {
            if(err){
                console.log(err);
            }else{
                $('#recentTitle').fadeOut(100);
                $('#recentBody').fadeOut(100);
            }
        });
    }

</script>