<!DOCTYPE html>
<html>
<% include ./header.ejs %>
<body onselect="return false;" onselectstart="return false;" >

<div class="weui-msg">
    <div class="weui-msg__icon-area">
        <% if( actionType == types.ALERT_SUCCESS ){ %>
        <i class="weui-icon-success weui-icon_msg"></i>
        <% }else if( actionType == types.ALERT_WARN ){ %>
        <i class="weui-icon-safe-warn weui-icon_msg"></i>
        <% }else if( actionType == types.ALERT_ERROR ){ %>
        <i class="weui-icon-msg weui-icon-warn"></i>
        <% } %>
    </div>

    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title"><%= title %></h2>
        <p class="weui-msg__desc"><%= message %></p>
    </div>
    <% if( typeof buttons!="undefined" && buttons.length>0){ %>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <% buttons.forEach(function(item, index){%>
            <a href="<%= item.url %>" class="weui-btn <%= (index==0)?"weui-btn_primary":"weui-btn_default" %>"><%= item.title %></a>
            <% }); %>
        </p>
    </div>
    <% } %>
</div>

<% include ./footer.ejs %>
</body>
</html>
