<!DOCTYPE html>
<html>
<% include ./../header.ejs %>
<body class="mine">
<header>
    <div class="bd-index-header">
        <div class="bd-index-header-icon-back" id="reset_btn_back">
            <span></span>
        </div>
        <div class="bd-index-header-title">
            <%= title %>
        </div>
    </div>
</header>

<div class="common-wrapper">
    <div class="head-img">
        <!--我的布丁-个人区域-->
        <div class="my-id-pic"><img
                    src="//m.360buyimg.com/img/jfs/t3859/326/1376350581/4871/1f7cb1b3/5876f785N83a31aa3.jpg"></div>
        <a id="userimage"
           href="javascript:">
            <div class="my-info cf">
                <div class="my-img-wrap">
                    <img class="my-img-border"
                         src="//m.360buyimg.com/img/jfs/t3928/27/482890805/22652/d95af356/5850e0edN1dca846b.png">
                    <span class="my-img">
                        <img src="<%= reguser.headimgurl %>"/>
                    </span>
                </div>
                <div class="my-person-info">
                    <p class="my-jd-head-name"><%= reguser.userName %></p>
                    <div class="my-jd-head-member">
                        <span class="my-jd-head-type">普通会员</span>
                        <div class="my-jd-head-plus">
							<span class="plus-icon-wrap">
								<img class="plus-icon"
                                     src="//m.360buyimg.com/mobilecms/jfs/t3835/278/642907156/1552/a6f2d3b2/58173a43Nc71052cf.png">
							</span>
                        </div>
                    </div>
                </div>
                <div class="head-meassage">
                    <!--<span class="head-meassage-name">账户管理</span>-->
                    <!--<span class="info-hint"></span>-->
                </div>
            </div>
        </a>
        <!--<ul class="my-watch cf">-->
        <!--&lt;!&ndash;关注的商品&ndash;&gt;-->
        <!--&lt;!&ndash;关注的店铺&ndash;&gt;-->
        <!--&lt;!&ndash;浏览记录&ndash;&gt;-->
        <!--&lt;!&ndash;关注的商品&ndash;&gt;-->
        <!--<a id="guanzhudeshangpin"-->
        <!--href="javascript:">-->
        <!--<li>-->
        <!--<span class="watch-goods">-->
        <!--<em class="watch-re">-->
        <!--8-->
        <!--</em>-->
        <!--</span>-->
        <!--<span class="watch-shop">关注的商品</span>-->
        <!--</li>-->
        <!--</a>-->
        <!--&lt;!&ndash;关注的店铺&ndash;&gt;-->
        <!--&lt;!&ndash;浏览记录&ndash;&gt;-->
        <!--&lt;!&ndash;关注的商品&ndash;&gt;-->
        <!--&lt;!&ndash;关注的店铺&ndash;&gt;-->
        <!--<a id="guanzhudedianpu"-->
        <!--href="javascript:">-->
        <!--<li class="mar bdr-l bdr-r">-->
        <!--<span class="watch-goods ">-->
        <!--<em class="watch-re">0-->
        <!--</em>-->
        <!--</span>-->
        <!--<span class="watch-shop">关注的店铺</span>-->
        <!--</li>-->
        <!--</a>-->
        <!--&lt;!&ndash;浏览记录&ndash;&gt;-->
        <!--&lt;!&ndash;关注的商品&ndash;&gt;-->
        <!--&lt;!&ndash;关注的店铺&ndash;&gt;-->
        <!--&lt;!&ndash;浏览记录&ndash;&gt;-->
        <!--<a id="liulanjilu"-->
        <!--href="javascript:">-->
        <!--<li>-->
        <!--<span class="watch-goods">-->
        <!--<em class="watch-re">6-->
        <!--</em>-->
        <!--</span>-->
        <!--<span class="watch-shop">浏览记录</span>-->
        <!--</li>-->
        <!--</a>-->
        <!--</ul>-->
        <!--我的关注结束-->
    </div>
    <!--我的布丁-个人区域结束-->
    <!--我的布丁-我的订单-->
    <div class="myJD-content">
        <ul class="bdbr-1px bdbt-1px">
            <li class="myJD-banner bdbr-1px">
                <a id="wodedingdan" class="myJD-link"
                   href="/order/orderlist?shopcode=<%= shopcode %>">
                    <div class="my-item cf">
                        <div class="fl">
                            <span class="couponIn-icon w-15"><img
                                        src="//m.360buyimg.com/mobilecms/jfs/t2782/329/448284447/1176/f4bdcb20/57147ba3Ne2fccde3.png"></span>
                            <span class="myJD-Order">我的订单</span>
                        </div>
                        <div class="fr">
                            <span class="myJD-AllOrder">全部订单</span>
                            <span class="myJD-arrow"></span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="myJD-item cf">
                <a id="daifukuan"
                   href="/order/orderlist?fun_id=wait4Payment&shopcode=<%= shopcode %>">
                    <div class="myID-part w-3">
                     	<span class="myID-img">
                    		<img src="//m.360buyimg.com/mobilecms/jfs/t2734/339/468866355/3035/82b4343b/57147baaNf2463e54.png">
                            <% if ( orderListWaitPay && orderListWaitPay.length > 0 ) { %>
                            <span name="daifukuan" class="my-count re-count">
                                                            <%= orderListWaitPay.length %>
                                                        </span>
                            <% } %>
                        </span>
                        <span class="myID-text">待付款</span>
                    </div>
                </a>
                <a id="daishouhuo"
                   href="/order/orderlist?fun_id=wait4Delivery&shopcode=<%= shopcode %>">
                    <div class="myID-part w-3">
                        <span class="myID-img">
                    		<img src="//m.360buyimg.com/mobilecms/jfs/t2839/223/441881839/3204/8236908d/57147bb0N365a03ef.png">
                    		<span name="daishouhuo"></span>
                        </span>
                        <span class="myID-text">待收货</span>
                    </div>
                </a>
                <a id="fanxiutuihuo"
                   href="/order/orderlist?fun_id=userCompletedOrderList&shopcode=<%= shopcode %>">
                    <div class="myID-part w-3">
                        <span class="myID-img">
                    		<img src="/images/finish1.png"
                                 style="width: 35px;height: 25px;position: relative;top: -2px;left: -4px;"/>
                    		<span name="fanxiutuihuo"></span>
                        </span>
                        <span class="myID-text">已完成</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <!--我的布丁-我的订单结束-->
</div>
<% if (identity) { %>
<div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="/user/shopqrcode?shopcode=<%= shopcode %>">
        <div class="weui-cell__bd">
            <p style="font-size: 15px">店铺推广码</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="/order/orderlist?shopcode=<%= shopcode %>&referrer=<%= reguser.uid %>">
        <div class="weui-cell__bd">
            <p style="font-size: 15px">我推广的订单</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="/shop/<%= shopcode %>/propertyManage">
        <div class="weui-cell__bd">
            <p style="font-size: 15px">我的收益</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="/shop/<%= shopcode %>/productManage">
        <div class="weui-cell__bd">
            <p style="font-size: 15px">我的商品</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
</div>

<% } %>

<% if ( userManageShops.length>0 ){ %>
<div class="weui-cells__title">
    店铺管理
</div>
<div class="weui-cells">
    <% userManageShops.forEach(function (item) { %>
    <a class="weui-cell weui-cell_access" href="/shop/<%= item.code %>/shopManage">
        <div class="weui-cell__bd">
            <p style="font-size: 15px"><%= item.name %></p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
    <% }) %>
</div>
<% } %>

<div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="/shop/<%= shopcode %>">
        <div class="weui-cell__bd">
            <p style="font-size: 15px">商城首页</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
</div>

<% include ./../footer.ejs %>

<script>

</script>
</body>
</html>