<!DOCTYPE html>
<html>
<% include ./../header.ejs %>
<body class="productDetail">
<header>
    <div class="bd-index-header">
        <div class="bd-index-header-icon-back" id="reset_btn_back">
            <span></span>
        </div>
        <div class="bd-index-header-title">
            <%= title %>
        </div>
    </div>
</header>
<div class="productDetailBody">
    <div class="swiper-container" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000"
         id="home">
        <div class="swiper-wrapper">
            <% productInfo.images.length > 0 && productInfo.images.map(function (image) { %>
            <div class="swiper-slide">
                <img src="<%= image %>" alt="">
            </div>
            <% }) %>
        </div>
    </div>
    <div class="productName">
        <p class="productNameText">
            <%= productInfo.name + " " + (productInfo.spec_tag1 ? productInfo.spec_tag1 : "") %>
        </p>
        <p class="productDesc">
            <%= productInfo.brief %>
        </p>
    </div>
    <div class="productPrice">
        <div class="price_wrap">
            <span class="price" id="priceSale"><%= productInfo.retail_price %></span>
            <span class="price through" style="font-weight:100;font-size: 12px"><%= productInfo.market_price %></span>
        </div>
    </div>


    <div class="weui-cells" style="margin-top: 10px" id="selectspec">
        <% if (productInfo.is_multispec){ %>

        <div class="weui-cell">
            <div class="weui-cell__hd"  style="color: #848383;font-size: 12px;">
                已选择
            </div>
            <div class="weui-cell__bd" style="color: red;font-size: 14px;margin-left: 10px">
                <%= productInfo.spec %>
            </div>
        </div>

        <% multispec.forEach(function (item,index) { %>

        <div class="weui-cell">
            <div class="weui-cell__hd" style="color: #848383;font-size: 12px;">
                <%= item.title %>
            </div>
            <div class="weui-cell__bd">
                <div class="weui-row" style=" justify-content:baseline !important; margin-left: 10px">
                    <% item.spec_list.forEach(function (o) { %>

                    <div style="margin-left: 10px;margin-bottom: 8px;margin-top: 8px" onclick="selectSpec('<%= o %>',<%= index %>)">
                        <a href="#"
                           style="width: 100%;
                           position: relative;
                           top: 0;
                           word-wrap:break-word;
                           line-height: 2.2;
                           border-radius: 2px;"
                           class="weui-btn
                                weui-btn_plain-default
                                weui-btn_mini
                                <%= productInfo.spec.trim().split('/').indexOf(o.trim()) >= 0 ? 'btn-red-plan' : '' %>">
                            <%= o %>
                        </a>
                    </div>

                    <% }) %>

                </div>
            </div>
        </div>

        <% }) %>

        <% } %>
        <div class="weui-cell">
            <div class="weui-cell__hd" style="color: #848383;font-size: 12px;">
                数量
            </div>
            <div class="weui-cell__bd">
                <div class="weui-row" style="margin-left: 10px">
                    <div class="weui-col-50" style="border: 1px solid #c2c2c2">
                         <div class="minus" id="minus_zz">
                             -
                         </div>
                         <div style="float: left;width: 33.333%;text-align: center;border-left: 1px solid #c2c2c2;border-right: 1px solid #c2c2c2">
                             <input type="tel" class="weui-input num" id="num_zz" value="1"   />
                         </div>
                         <div class="plus" id="plus_zz">
                             +
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="productDetail">
        <%- productInfo.intro %>
    </div>
</div>
<% include ./../components/productFloatBottomBar.ejs %>
<% include ./../footer.ejs %>

<script type='text/javascript' src="/libs/jq-weui/js/swiper.min.js" charset='utf-8'></script>
<script src="https://unpkg.com/vue"></script>

<script type="text/javascript">
    var spec_list=<%- JSON.stringify(productInfo.spec_list?productInfo.spec_list:[]) %>;
    var spec="<%= productInfo.spec %>";
    var specArr=spec.split('/');

    $(document).ready(function () {
        window._weixin_shareInfo={ //微信分享信息
            title:"来自 <%= user.userName%> 的推荐-><%= productInfo.name %>",
            link:window.location.href,
            imgurl:"<%= productInfo.images[0] %>"
        }
        //轮播
        $('.swiper-container')//轮播图统一传750*750的图片
                .swiper({
                    loop: true,
                    autoplay: 4000
                });

        //获取购物车数量
        ApiInvokeNoloading('shop', 'GetShopCart', {shopcode: '<%= shopcode %>'}, function (err, res) {
            var count = 0;
            res.items.map(function (item) {
                count += item.pcs;
            })
            if (count > 0) $('.shopcarDot').html(count).fadeIn(1);
            else $('.shopcarDot').fadeOut(1);
        });

        var lower_limit=<%= productInfo.lower_limit?productInfo.lower_limit:1 %>;
        $("#minus_zz").click(function () {
            var pcs=$("#num_zz").val();
            if (pcs==1)return;
            if (lower_limit>1&&pcs==lower_limit){
                $.alert('该商品'+lower_limit+'件起售');
                return;
            }
            $("#num_zz").val(parseInt(pcs)-1);
        });
        $("#plus_zz").click(function () {
            var pcs=$("#num_zz").val();
            $("#num_zz").val(parseInt(pcs)+1);

        });

        var pcsfocus=1;

        $("#num_zz").blur(function () {
            var pcs=$("#num_zz").val();
            if (pcs<=0){
                $.alert('至少购买一件商品');
                $("#num_zz").val(pcsfocus);
                return
            }
            if (lower_limit>1&&pcs<lower_limit){
                $.alert('该商品'+lower_limit+'件起售');
                $("#num_zz").val(lower_limit);
                return;
            }
        }).focus(function () {
             pcsfocus=$("#num_zz").val();

        });
    });

    function addShopCart() {
        var code = '<%= productInfo.code %>';

        ApiInvokeNoloading('shop', 'AddToCart', {prd_code: code,prd_pcs:$("#num_zz").val(),shopcode:'<%= shopcode %>'}, function (err, res) {
            if (err) {
                $.alert({
                    title: '出错！',
                    text: err
                })
            } else {
                var count = 0;
                res.items.map(function (item) {
                    count += item.pcs;
                })
                $('.shopcarDot').fadeIn(1);
                $('.shopcarDot').html(count);
                $.toast("加入购物车成功", 500);
            }
        });
    };

    function fastBuy() {
        var code = '<%= productInfo.code %>';
        ApiInvokeNoloading('shop', 'fastBuy', {prd_code: code,shopcode:'<%= shopcode %>',prd_pcs: parseInt($("#num_zz").val())}, function (err, res) {
            if (err) {
                $.alert({
                    title: '出错！',
                    text: err
                })
            } else {
                window.location.href = '/shop/<%= shopcode %>/ordersettle';
            }
        });
    };

    function selectSpec(o,index) {
        specArr[index]=o;
        var product=spec_list.filter((item)=>{
            return  specArr.indexOf(item.spec_tag1)>=0 && specArr.indexOf(item.spec_tag2)>=0 && specArr.indexOf(item.spec_tag3)>=0
        });
        if (!product || product.length==0){
            alert('指定规格商品不存在');
            return;
        }else {
            window.location.href='/shop/<%= shopcode %>/productDetail/'+product[0].code;
        }
    }
</script>
</body>
</html>