<!DOCTYPE html>
<html>
<% include ./../header.ejs %>
<body class="productDetail">
<div class="productDetailBody">
    <div class="swiper-container" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000"
         id="home">
        <div class="swiper-wrapper">
            <% productInfo.images.length > 0 && productInfo.images.map(function (image) { %>
            <div class="swiper-slide">
                <img src="<%= image %>" alt="">
            </div>
            <% }) %>
        </div>
    </div>
    <div class="productName">
        <p class="productNameText">
            <%= productInfo.name %>
        </p>
        <p class="productDesc">
            <%= productInfo.brief %>
        </p>
    </div>
    <div class="productPrice">
        <div class="price_wrap">
            <span class="price" id="priceSale"><%= productInfo.retail_price%></span>
        </div>
    </div>
    <div class="productDetail">
        <%- productInfo.intro %>
    </div>
</div>
<% include ./../components/productFloatBottomBar.ejs %>
<% include ./../footer.ejs %>
<script type='text/javascript' src="/libs/jq-weui/js/swiper.min.js" charset='utf-8'></script>
<script type="text/javascript">
    $(document).ready(function () {
        //轮播
        $('.swiper-container')//轮播图统一传750*750的图片
                .swiper({
                    loop: true,
                    autoplay: 4000
                });

        //获取购物车数量
        ApiInvokeNoloading('shop','GetShopCart',{shopcode:'<%= shopcode %>'},function (err,res) {
            var count = 0;
            res.items.map(function (item) {
                count += item.pcs;
            })
            if(count > 0) $('.shopcarDot').html(count);
            else $('.shopcarDot').fadeOut(1);
        });
    });
    
    function addShopCart() {
        var code = '<%= productInfo.code %>';
        ApiInvokeNoloading('shop','AddToCart',{prd_code:code},function (err,res) {
            if(err){
                $.alert({
                    title:'出错！',
                    text:err
                })
            }else{
                var count = 0;
                res.items.map(function (item) {
                    count += item.pcs;
                })
                $('.shopcarDot').fadeIn(1);
                $('.shopcarDot').html(count);
                $.toast("加入购物车成功",500);
            }
        });
    }

    function fastBuy() {
        var code = '<%= productInfo.code %>';
        ApiInvokeNoloading('shop','fastBuy',{prd_code:code},function (err,res) {
            if(err){
                $.alert({
                    title:'出错！',
                    text:err
                })
            }else{
                window.location.href = '/shop/<%= shopcode %>/ordersettle';
            }
        });
    }
</script>
</html>