<!DOCTYPE html>
<html>
<% include ../header.ejs %>
<body class="shopProductSearch">

<div class="shopHomeSearch">
    <div class="bd-index-header">
        <div class="bd-index-header-title" onclick="openSearch('<%= key_word %>')">
            <div>
                <i class="fa fa-search"></i>
                <%= key_word %>
            </div>
        </div>
    </div>
</div>

<div class="seachResultList" style="padding-top: 45px">
    <% if (SearchResult && SearchResult.length>0) { %>

    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__bd">
            <% SearchResult.forEach(function (item) { %>

            <a href="/shop/<%= shopcode %>/productDetail/<%= item.code %>" class="weui-media-box weui-media-box_appmsg"  >
                <div class="weui-media-box__hd">
                    <img class="weui-media-box__thumb" src="<%= item.image %>">
                </div>
                <div class="weui-media-box__bd">
                    <h4 class="weui-media-box__title" style="font-size: 15px"><%= item.name %></h4>
                    <p class="weui-media-box__desc"><%= item.spec %></p>
                    <p style="font-size: 12px;color:#f23030 ">¥ <span style="font-size: 17px;"><%= item.retail_price %></span></p>
                </div>
            </a>

            <% }) %>
        </div>
    </div>
    <% } else { %>

    <p style="margin-top: 100px;
    font-size: 15px;
    text-align: center;
    color: #989696;">没有搜索到相关商品</p>

    <% }%>
</div>
<% include ../footer.ejs %>
<% include ../components/searchPage.ejs %>
<script>
    $(function () {
        $("#seachForm").submit(function () {
            window.location.href="/shop/<%= shopcode %>/productSearch?key_word="+$("#searchInput").val();
            return false;
        });
    });
</script>
</body>
</html>