<!DOCTYPE html>
<html>
<% include ./../header.ejs %>
<body class="shopCategory">

<div class="pageContainer">
    <div class="pageContainerSearch" id="searchBar">
        <div class="bd-index-header">
            <div class="bd-index-header-icon-back" id="reset_btn_back">
                <span></span>
            </div>
            <div class="bd-index-header-title">
                <%= title %>
            </div>
        </div>
    </div>
    <div class="shopCategoryNav">
        <div class="shopCategoryNavContainer" style="height: <%= 50 * ( categorys.length + 1 ) %>px;">
            <div class="shopCategoryNavItem shopCategoryNavActive" id="hot">
                热销推荐
            </div>
            <% categorys.map(function (cate) { %>
            <div class="shopCategoryNavItem" id="<%= cate.code %>">
                <%= cate.name %>
            </div>
            <% }) %>
        </div>
    </div>
    <div class="shopCategoryContent"></div>
</div>

<% include ../components/floatBottomBar.ejs %>
<% include ./../footer.ejs %>
<script type="text/javascript" src="/javascripts/jquery.scrollLoading-min.js"  charset='utf-8'></script>
<script type="text/javascript">
    $(document).ready(function () {
        try {

            //搜索框
            $('#searchText').on('click',function () {
                $('#searchBar').addClass('weui-search-bar_focusing');
                $('#searchInput').focus();
            });
            $('#searchInput').on('blur',function () {
                $('#searchBar').removeClass('weui-search-bar_focusing');
                $('#searchText').show();
            }).on('keydown',function () {
                if(event.keyCode == "13"){
                    $('.searchBar').removeClass('weui-search-bar_focusing');
                    $('.searchText').show();
                }
            });
            $('.confirmSearch').on('click',function () {
                $('.searchBar').removeClass('weui-search-bar_focusing');
                $('.searchText').show();
            });

            //左侧导航
            $('.shopCategoryNavItem').on('click',function () {
                loadProducts(this.id);
                $('.shopCategoryNavItem').removeClass('shopCategoryNavActive');
                $(this).addClass('shopCategoryNavActive');
                history.replaceState(null, document.title, location.href.split("?")[0] + "?" + 'query=' + this.id);
            })

            //默认加载推荐
            var kw = location.search;
            if(kw.indexOf('?') != -1){
                kw = kw.split('=')[1];
                $('.shopCategoryNavItem').removeClass('shopCategoryNavActive');
                $('#' + kw).addClass('shopCategoryNavActive');
                loadProducts(kw)
            }else{
                loadProducts('hot')
            }

            //获取购物车数量
            ApiInvokeNoloading('shop','GetShopCart',{shopcode:'<%= shopcode %>'},function (err,res) {
                var count = 0;
                res.items.map(function (item) {
                    count += item.pcs;
                })
                if(count > 0) $('.shopcarDot').html(count);
                else $('.shopcarDot').fadeOut(1);
            });
            
        }catch (e){
            alert(e);
            ApiInvokeNoloading('shop','aaa',{reqs:e},function (err,result) {

            });
        }
       
    });
    
    function loadProducts(code) {
        ApiInvoke('shop','loadProducts',{shopcode:'<%= shopcode %>',code:code},function (err,result) {
            if(err){
                $('#errorMsg').text(err);
                $('#errorDialog').fadeIn(200);
                return false;
            }

            $('.shopCategoryContent').empty();
            if(result.length > 0){
                //筛选出上架商品
                result=result.filter(item=>{ return item.shopfieldObj.status==1 });
                result.map(function (item) {
                    var func = "goProductDetail('" + item.code + "')";
                    var grid = '<div class="shopCategoryProduct" onclick="' + func.trim() + '">'+
                            '<img data-url="' + item.image + '" class="lazy-load"  alt="">'+
                            '<div>' + item.name + '</div>'+
                            '</div>';
                    $('.shopCategoryContent').append(grid);
                });
                $("img.lazy-load").scrollLoading({
                    container: $(".shopCategoryContent"),
                    callback: function() {
                        //this.style.border = "3px solid #a0b3d6";
                    }
                });
            }
        });
    }
    
    function goProductDetail(code) {
        window.location.href='/shop/<%= shopcode %>/productDetail/' + code;
    }
</script>
</body>
</html>