<!DOCTYPE html>
<html>
<% include ./../header.ejs %>
<body class="shopHome">
<div class="pageContainer">
    <div class="shopHomeNavbar">
        <div class="shopHomeSearch">
            <div class="bd-index-header">
                <div class="bd-index-header-icon-back" id="reset_btn_back">
                    <span></span>
                </div>
                <div class="bd-index-header-title">
                    <%= title%>
                </div>
            </div>
        </div>
        <div class="shopHomeCate">
            <div style="width: <%= 86 * (sections.length + 1) %>px">
                <div class="shopHomeCateItem shopHomeCateActive" id="homeNav">
                    首页
                    <input type="hidden" value="home" >
                </div>
                <% sections.length > 0 && sections.map(function (item) { %>
                <% if(item.products.length > 0){ %>
                <div class="shopHomeCateItem" id="<%= item.code %>Nav">
                    <%= item.name %>
                    <input type="hidden" value="<%= item.code %>">
                </div>
                <% } %>
                <% }) %>
            </div>
        </div>
    </div>
    <div class="shopHomeBody" id="shopHomeBody">
        <% if (banner && banner.length > 0 ){ %>

        <div class="swiper-container" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000"
             id="home">
            <div class="swiper-wrapper">

                <% banner.forEach(function (item) { %>

                <div class="swiper-slide" onclick="navilink('<%= item.link_to %>','<%= shopcode %>')">
                    <img src="<%= item.image %>" alt=""/>
                </div>

                <% }) %>

            </div>
        </div>

        <% } %>

        <% if (nav && nav.length > 0 ){ %>

        <div class="weui-row quick-entry-nav">

            <% nav.forEach(function (item) { %>

            <div class="weui-col-20"  onclick="navilink('<%= item.link_to %>','<%= shopcode %>')">
                <img src="<%= item.image %>" alt="">
                <p><%= item.subject %></p>
            </div>

            <% }) %>

        </div>

        <% } %>

        <div class="shopHomeActivity">
            <div class="shopHomeActivityTitle">
                <p>
                    今日秒杀
                    <span id="todayMS">距离结束&nbsp;&nbsp;&nbsp;00:00:00</span>
                </p>
            </div>

            <div class="shopHomeActivityContent">
                <div style="width:<%= 90 * activityProducts.length %>px ">
                    <% activityProducts.length > 0 && activityProducts.map(function (item) { %>
                    <div style="width: 90px" onclick="go_to('/shop/<%= shopcode %>/productDetail/<%= item.code %>')">
                        <img class="lazy-load" data-url="<%- item.image %>" alt="">
                        <p class="retail_price"><span class="price mini" style="font-weight:600;font-size: 15px"><%= item.retail_price %></span> </p>
                        <p class="market_price"><span class="price through"  style="font-weight:100"><%= item.market_price %></span></p>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>

        <!--<div class="shopHomeSubActivity">-->
        <!--<div>-->
        <!--<div>-->
        <!--<img src="/images/icon_tabbar.png" alt="">-->
        <!--</div>-->
        <!--<div>-->
        <!--<p>拼团</p>-->
        <!--<p>全场9.9元包邮</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div>-->
        <!--<div>-->
        <!--<img src="/images/icon_tabbar.png" alt="">-->
        <!--</div>-->
        <!--<div>-->
        <!--<p>聚划算</p>-->
        <!--<p>多件购买更优惠</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <% sections.map(function (section) { %>
        <% if(section.products.length > 0){ %>
        <div class="shopHomeSection" id="<%= section.code %>">
            <div class="shopHomeSectionTitle">
                ----<%= section.name %>----
            </div>
            <div class="shopHomeSectionImg" onclick="navilink('<%= section.link_to %>','<%= shopcode %>')">
                <img class="lazy-load" data-url="<%= section.image %>" alt="">
            </div>
            <div class="shopHomeSectionProducts">
                <div style="width: <%= 110 * section.products.length %>px">
                    <% section.products.length > 0 && section.products.map(function (product) { %>
                    <div onclick="go_to('/shop/<%= shopcode %>/productDetail/<%= product.code %>')">
                        <img class="lazy-load" data-url="<%- product.image %>" alt="">
                        <p><%= product.name %></p>
                        <p style="line-height: 15px"><span class="price mini" style="font-weight:600;font-size: 15px"><%= product.retail_price %></span> </p>
                        <p style="line-height: 13px" class="market_price"><span class="price through"  style="font-weight:100"><%= product.market_price %></span></p>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
        <% } %>
        <% }) %>
    </div>
</div>
<% include ../components/floatBottomBar.ejs %>
<% include ./../footer.ejs %>

<script type='text/javascript' src="/libs/jq-weui/js/swiper.min.js" charset='utf-8'></script>
<script type='text/javascript' src="/libs/jQuery/jquery.scrollTo.min.js" charset='utf-8'></script>
<script type="text/javascript" src="/javascripts/jquery.scrollLoading-min.js" charset='utf-8'></script>
<script type="text/javascript">
    $(document).ready(function () {
        window._weixin_shareInfo={ //微信分享信息
            title:"来自 <%= user.userName%> 的推荐-><%= title %>",
            link:window.location.href,
            imgurl:"<%= mysaleshop.shopicon %>"
        }
        $("img.lazy-load").scrollLoading({
            container: $("#shopHomeBody"),
            callback: function () {
                //this.style.border = "3px solid #a0b3d6";
            }
        });
        // $("img.lazy-load")
        //搜索框
        $('#searchText').on('click', function () {
            $('#searchBar').addClass('weui-search-bar_focusing');
            $('#searchInput').focus();
        });
        $('#searchInput').on('blur', function () {
            $('#searchBar').removeClass('weui-search-bar_focusing');
            $('#searchText').show();
        }).on('keydown', function () {
            if (event.keyCode == "13") {
                $('.searchBar').removeClass('weui-search-bar_focusing');
                $('.searchText').show();
            }
        });
        $('.confirmSearch').on('click', function () {
            $('.searchBar').removeClass('weui-search-bar_focusing');
            $('.searchText').show();
        });

        //轮播
        $(".swiper-container").swiper({
            loop: true,
            autoplay: 4000
        });

        //导航滚动
        $('.shopHomeCateItem').on('click', function () {
            var target = $(this).children('input').val().trim();
            var scrollHeight = $('#' + target).position().top - 80 + $('.shopHomeBody').scrollTop();
            $('.shopHomeCateItem').removeClass('shopHomeCateActive');
            $(this).addClass('shopHomeCateActive');
            $('.shopHomeBody').scrollTo(scrollHeight, 500);
        });

        //获取购物车数量
        ApiInvokeNoloading('shop', 'GetShopCart', {shopcode: '<%= shopcode %>'}, function (err, res) {
            var count = 0;
            res.items.map(function (item) {
                count += item.pcs;
            })
            if (count > 0) $('.shopcarDot').html(count).fadeIn(1);
            else $('.shopcarDot').fadeOut(1);
        });
        setInterval(getRTime,1000);
    });

    var todayMS=$("#todayMS");

    function getRTime(){
        var EndTime= new Date('<%= moment().add(1,'days').format('YYYY/MM/DD 00:00:00') %>').getTime() ; //截止时间
        var NowTime =new Date().getTime();
        var t =EndTime - NowTime;
        var h=Math.floor(t/1000/60/60%24);
        var m=Math.floor(t/1000/60%60);
        var s=Math.floor(t/1000%60);

        todayMS.html("距离结束&nbsp;&nbsp;&nbsp;"+(h<10?'0'+h:h)+":"+(m<10?'0'+m:m)+":"+(s<10?'0'+s:s));
    }

</script>
</body>
</html>